<h1>Success</h1>

Checkout status: <%= @session_with_expand.payment_status %>
<br>
Amount paid: 
<%= @session_with_expand.amount_total/100.to_f %>
<%= @session_with_expand.currency %>

<% @session_with_expand.line_items.data.each do |line_item| %>
  <% product = Product.find_by(stripe_product_id: line_item.price.product) %>
  <br>
  <%= product.name %>
<% end %>
