<h1>Success</h1>
<% @session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
<%= @session.payment_intent %>
<%= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>

<% @session_with_expand = Stripe::Checkout::Session.retrieve({ 
  id: params[:session_id], 
  expand: ["payment_intent", "line_items"]
  }) %>
<hr>
<% @session_with_expand.line_items.data.each do |line_item| %>
  <%= line_item.price.id %>
  <%= line_item.price.product %>
<% end %>